:host{
  width: 100%;
}

main{
  background-color: #068587;
  min-height: 85vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;


}
section{
  width: 90%;
  height: 70vh;
  border: 1px solid #F2B134;
  background-color: #4FB99F;
  margin: 10px;
  padding: 10px;
}
