<div class="container-fluid">
  <form [formGroup]="cityForm">

    <div class="row">

      <div class="col-12">
        <div class="form-group">
          <label for="citySelect">Choose a city</label>
          <select class="form-control" id="citySelect" formControlName="city"
                  >
            <option [value]="''" disabled  selected> Please select one option </option>

            <option *ngFor="let city of cities " [value]="city">{{city}}</option>

          </select>
        </div>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary" [disabled]="cityForm.invalid" (click)="submit()">
          Show current weather
        </button>
      </div>

    </div>
  </form>
  <div class="row " *ngIf="currentWeatherData">
    <app-weather-table [currentWeatherData]="currentWeatherData"></app-weather-table>
  </div>
</div>
