<div class="col-12">
  <div class="table-responsive">

    <table class="table table-striped">
      <thead>
      <tr>
        <th>Current weather</th>
        <th>Temperature</th>
        <th>Humidity</th>
        <th>Wind speed</th>
      </tr>

      </thead>
      <tbody>

      <tr>
        <td> <ul>
          <li *ngFor="let weather of currentWeatherData.actualWeather">{{weather.main}}
            <img [src]="getIconUrl(weather.icon)" class="owm-icon"></li>
        </ul></td>
        <td>{{currentWeatherData.temperature}} °C</td>
       <td>{{currentWeatherData.humidity}} %</td>
        <td>{{currentWeatherData.windSpeed}} m/s</td>
      </tr>

      </tbody>
    </table>
  </div>
</div>
